body {
    background-color: #b2b6ff;
}



.centralCard {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    margin-top: 50px;

}

.cardTitle {
    text-align: center;
}

.btnPrimary {
    background-color: #9fa3fa;
    margin: 10px;
}
.card-task{
    width:500px;
}

.card-task .card{
    background-color: #F5F5F5;
    border: none;
    width: 200px;
    display: flex;
    margin-left: 130px;
    
    
}
